# git ignore file
_ReSharper.MSCD*/
Common/bin*/
Common/obj*/
DALFactory/bin*/
DALFactory/obj*/
DBUtility/bin*/
DBUtility/obj*/
MSCD/bin*/
MSCD/obj*/
MSCD.BLL/bin*/
MSCD.BLL/obj*/
MSCD.GIS/bin*/
MSCD.GIS/obj*/
MSCD.IDAL/bin*/
MSCD.IDAL/obj*/
MSCD.Model/bin*/
MSCD.Model/obj*/
MSCD.Services/bin*/
MSCD.Services/obj*/
MSCD.SQLServerDAL/bin*/
MSCD.SQLServerDAL/obj*/