<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="server=abrs952-1;database=cdms2;uid=sa;pwd=123"/>
    <add key="DAL" value="MSCD.SQLServerDAL"/>
    <add key="WorkspaceDriver" value="SQL Server"/>
    <add key="WorkspaceServer" value="abrs952-w2"/>
    <add key="WorkspaceDatabase" value="cdms2"/>
    <add key="WorkspaceName" value="mscd"/>
    <add key="WorkspaceUser" value="sa"/>
    <add key="WorkspacePassword" value="123"/>
    <add key="StationMapName" value="台区地图"/>
    <add key="SiteMapName" value="川渝地图"/>
    <add key="StationSceneName" value="台区场景"/>
    <add key="StationDatasourceName" value="mscd"/>
  </appSettings>
  
</configuration>
